/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {

}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

h1, h2, h3 {
    color: #00b624;
    font-family: 'Roboto', serif;
}

body {
    background: #fcfcfc;
    font-family: 'Droid Sans', serif;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

pre {
    margin: 0;
    padding: 0;
}